PyMySQL
cx_Oracle
Django
requests
dwebsocket
gunicorn
setuptools
wheel
appdirs
django-appconf
django-ckeditor
django-cors-headers
django-guardian==1.4.1
django-model-utils
django-userena
django-users2
easy-thumbnails
html2text==2014.12.29
meld3
ConfigParser
packaging
psycopg2
pyparsing
six
virtualenv
tensorflow
Keras
fasttext
gensim
pyLDAvis
